@import '../../App.scss';

.pro-card {
  align-items: center;
  background-color: $light-grey;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: .75em;
  padding: 1.75em;
  width: 288px;

  .pro-card__header {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .pro-card__profile {
    height: 165px;
    padding: 0;
    width: 165px;
  }

  .pro-card__title {
    @include text-inline-title;
    color: $black;
    text-align: center;
  }

  .pro-card__body {
    @include text-body;
    max-height: 191px;
    overflow: hidden;
    padding-top: 20px;
    text-align: justify;
    text-overflow: ellipsis;
  }

  .buttons {
    column-count: 2;
    display: flex;
    gap: .75em;
    justify-content: center;
    padding-top: 30px;
  }

  @media (min-width: 1024px) {
    .pro-card__header {
        align-items: center;
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

    .pro-card__title {
        order: 0;
    }

    .pro-card__profile {
        order: 1;
    }
  }

}

@media (min-width: 1024px) {
  .pro-card {
    width: 368px;
}
}
