.button-round {
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: #18A0FB;
    font-family: 'League Gothic';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    padding: 0.25em .75em;
    border-radius: 0.5em;
    border: 3px solid #18A0FB;
}

.button-round:hover {
    color: #18A0FB;
    background-color: white;
}
