@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');


$color: #18A0FB;
$color2: #1a4f1a;
$glowSize: 10px;

.error-message{
   .error-page{
      padding: 1rem;
      background: white;
      display: flex;
      height: calc(100vh - 120px);
      justify-content: center; 
      align-items: center;
      color: $color;
      font-size: 6rem;
      flex-direction: column;
      font-family: 'Press Start 2P', cursive;
      box-sizing: border-box;
      margin: 0;
      width: 100%;
      .txt {
         font-size: 1.8rem;
      }
   }
   @keyframes blink {
       0%   {opacity: 0}
       49%  {opacity: 0}
       50%  {opacity: 1}
       100% {opacity: 1}
   }
   
   .blink {
      animation-name: blink;
       animation-duration: 1s;
      animation-iteration-count: infinite;
   }
}
