@import '../../App.scss';
* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 600px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.photo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.description h1{
  @include text-big-title;
  color: $purple;
  margin: 0;
  text-align: center;
}

.description p {
  @include text-body;
}

.categories {
  padding-top: 40px;
  @include text-body;
}

.categories h1{
  color: $purple;
  text-align: center;
}

.categories .categoriesList{
  column-count: 3;
  padding-top: 30px;
  text-align: center;
  padding-right: 70px;
}

.calification {
  column-count: 2;
  padding-top: 50px;
  color: orange;
  text-align: center;
  padding-right: 90px;
  padding-left: 90px;
  font-size: 40px;
}
