@import '../../App.scss';

.link-round {
    @include link-body;
    background-color: $blue;
    border-radius: 0.5em;
    border: 3px solid $blue;
    color: white;
    display: inline-block;
    padding: 0.25em .75em;
    text-decoration: none;
}

.link-round:hover {
    background-color: white;
    color: $blue;
}

@media (min-width: 1024px) {
    .link-round {
        @include link-sub-title;
    }
}
