@import '../../App.scss';

.pqr-detail {
    background-color: $light-blue;
    padding: 2em;
    width: 100vw;
}

.pqr-detail__container {
    background-color: white;
    border-radius: 10px;
    border: 1px solid $dark-grey;
    width: 60%;
    margin: 0 auto;
    min-width: 300px;
    max-width: 600px;
    padding: 2em;
    box-shadow: 0 0 0.5em 0.5em $dark-grey;
}

.pqr-detail__title {
    @include text-sub-title;
    text-align: center;
    color: $blue;
}

.pqr-detail__subtitle {
    @include text-inline-title;
    margin-top: 1em;
    margin-bottom: .5em;
}

.pqr-detail__body {
    @include text-body;
}

.pqr-detail__evidence {
    width: 300px;
}

.pqr-detail__button {
    display: block;
    margin: 1em auto 0 auto;
}

@media (min-width: 768px) {
    .pqr-detail {
        align-items: center;
        display: flex;
        justify-content: center;
        min-height: 100vh;
        min-height: calc(100vh -  120px);
        width: 100%;
    }
}
