@import '../../App.scss';

.card-display {
    align-items: center;
    justify-content: center;
}

.card-display__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card-filters {
    margin: .5em;
    display: inline-block;
    padding: .25em .75em;
    border: 1px solid $blue;
    @include link-body;
    color: $blue;
    background-color: white;
    border-radius: 5px;
}

.card-filters__remove {
    color: white;
    background-color: red;
    border-radius: 5px;
    border: 1px solid red;
    @include link-body;
    padding: .25em;
    margin: 0 .25em;
}

.card-filters__remove:hover {
    background-color: rgb(218, 96, 97);
    border-color: rgb(218, 96, 97);
    cursor: pointer;
}

.page-handling__button {
    @include link-body;
    color: $dark-purple;
    padding: .5em .75em;
    border: 1px solid $dark-purple;
    border-radius: 5px;
    margin: .5em;
}

.page-handling__button:hover {
    box-shadow: 0 0 10px $dark-purple;
}

.disabled {
    pointer-events: none;
    opacity: .5;
}
