@import '../../../App.scss';

.dashboard-profile {
    margin: 2em 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.dashboard-profile__title {
    @include text-title;
    color: $blue;
}

.input-control {
    margin: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.profile__label {
    @include text-body;
    color: $dark-grey;
}

.profile__input {
    width: 350px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 0.5em 0.25em;
    @include text-body;
}

.profile__input:focus {
    outline: none;
    border: 3px solid $blue;
}

.error-msg {
    color: red;
    @include text-body;
}

.response--success {
    @include text-body;
    color: green;
}

.response--fail {
    @include text-body;
    color: red;
}
