.search-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1em;
    width: 100%;
}

@media (min-width: 620px) {
    .search-container {
        flex-direction: row;
        justify-content: initial;
    }
}


