@import '../../../App.scss';

.VistaMenu {
    text-align: center;
  .Cabezera{
    display: flex;
    justify-content: space-around;
    padding-bottom: 20px;
  }
  .Cuerpo{

    display: flex;
    flex-direction: column;

    .Editar{
      display: flex;
      justify-content: space-between;

    }
  }
  .Titulo{
    @include text-inline-title;
  }

  th{
    @include text-inline-title
  }
  td{
    @include text-body
  }

}
