@import url('https://fonts.googleapis.com/css2?family=League+Gothic&family=Open+Sans:wght@300;400&display=swap');

$dark-grey: #4B4B4B;
$light-blue: #C0E4EA;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

nav {
  background-color: $dark-grey;
  height: 120px;
  width: 100%;
}

img {
  height: 130px;
  padding: 0 20px;
}

nav ul {
  float: right;
  margin-right: 25px;
}

nav ul li {
  display: inline-block;
  line-height: 120px;
}

nav ul li a {
  color: $light-blue;
  font-family: 'League Gothic';
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  letter-spacing: 0.02em;
  padding: 7px 13px;
  border-radius: 3px;
  letter-spacing: 1px;
}

a.active, a:hover {
  background-color: #A6C1DE;
  transition: .5s;
}

.checkbtn {
  font-size: 40px;
  color: white;
  float: right;
  line-height: 120px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

@media (max-width: 858px) {
  .checkbtn {
    display: block;
  }
  ul {
    position: fixed;
    width: 100%;
    height: 220px;
    background: $dark-grey;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
  nav ul li {
    display: block;
    margin: 30px 0;
    line-height: 30px;
  }
  a:hover,a.active {
    background: none;
    color: #A6C1DE;
  }
  #check:checked ~ ul {
    left: 0;
  }
}
