@import '../../App.scss';

.dashboard {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.dashboard__side-menu {
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: .75em;
    width: 15%;
    border-right: 1px solid black;
}

.side-menu__btn {
    @include link-inline-title;
    color: $blue;
    border: none;
    background: transparent;
}

.side-menu__btn:hover {
    cursor: pointer;
}

.dashboard__view {
    width: 85%;
    min-height: calc(100vh - 120px);
}

.non-displayed {
    display: none;
}
