@import '../../App.scss';

.footer--title {
    @include text-inline-title;
    color: $light-blue;
    margin: 0;
}

.footer--body {
    @include text-body;
    color: $light-blue;
    margin: 0;
}

.footer {
    align-items: center;
    background-color: $dark-grey;
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 100%;
}

.footer__container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: .75rem 0;
}

.contact__body, .hq__body {
    display: flex;
    flex-direction: column;
}

.footer__copyright {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 1.25rem 0;
}

.copyright__social-media {
    align-items: center;
    display: flex;
    gap: 1.75rem;
    justify-content: space-around;
    width: 90%;
}

.copyright__social-media img {
    height: 45px;
    padding: 0;
    width: 45px;
}

@media (min-width: 768px) {
    .footer__container {
        flex-direction: row;
        gap: 2rem;
        margin: 1.25em 0;
    }
}

@media (min-width: 1024px) {
    .footer__container {
        gap: 3rem;
    }

    .contact__body, .hq__body {
        flex-direction: row;
        gap: 2.5rem;
    }
}
