@import '../../App.scss';

.button-square {
    @include link-body;
    display: inline-block;
    padding: 0.25em .75em;
    text-decoration: none;
}

.white {
    border: 3px solid $white;
    color: $white;
}

.white:hover {
    background-color: $white;
    color: $dark-purple;
}

.dark-purple:hover {
    background-color: $dark-purple;
    color: white;
}

.dark-purple {
    border: 3px solid $dark-purple;
    color: $dark-purple;
}
