.button-square {
    display: inline-block;
    text-decoration: none;
    color: #483786;
    font-family: 'League Gothic';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    border: 3px solid #483786;
    padding: 0.25em .75em;
}

.button-square:hover {
    color: white;
    background-color: #483786;
}
