@import '../../App.scss';

.button__container {
    display: inline-block;
}

.button-square {
    @include link-body;
    display: flex;
    align-items: center;
    padding: 0.25rem .75rem;
    text-decoration: none;
    justify-content: center;
}

.white {
    border: 3px solid $white;
    color: $white;
}

.white:hover {
    background-color: $white;
    color: $dark-purple;
}

.dark-purple:hover {
    background-color: $dark-purple;
    color: white;
}

.dark-purple {
    border: 3px solid $dark-purple;
    color: $dark-purple;
}

@media (min-width: 1024px) {
    .button-square {
        @include link-sub-title;
    }
}
