@import '../../App.scss';

.login {
  width: 100vw;
  display: flex;
  justify-content: center;
  background-color: lightblue;

  .container{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 20px;
    background-color: white;
    margin: 0px;
    padding: 30px;

    .link__logo {
      min-height: 200px;
      text-align: center;
      display: block;
    }

    .logo{
      width: 60%;
      margin:auto;
      box-sizing: border-box;
    }

    .texto {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-items: center;
      margin-bottom: 1.75em;
      .titulo_register {@include text-big-title;}
      .texto_register {@include text-body}
    }

    .formulario {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-left: 5vw;
      padding-right: 5vw;

      input, textarea {
        display:block;
        @include text-body;
        width: 60%;
        height: 44px;
        display: flex;
        border: 1px solid $blue;
        border-radius: 10px;
        margin-bottom: 30px;
        padding: 0.25em 0.5em;
      }
    }


    .redes_sociales{
      display: flex;
      margin-top: 10px;
      margin-left: 80px;
      margin-right: 80px;
      justify-content: space-evenly;

      img{
        height: 50px;
        width: 50px;
        margin: 20px;
      }
    }

    .boton11{
      display: flex;
      align-items: center;
      justify-content: space-around;
      gap: 1.25em;
      width: 60%;
    }


    .footer2{
      display: flex;
      align-items: center;
      @include text-body;
      margin-top:20px;
    }
    .footer1 {
          display: flex;
          flex-direction: column;
      span{
        align-self: center;
        padding-right: 1vw;
      }

      .footer11{
        height:70px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @include text-body

      }
    }


    @media (min-width: 720px) {
      margin: 40px;
      .footer1{
        display:grid;
      grid-template-columns:2fr 1fr;
      align-items: flex-end;
      justify-items: end;

      }
    }
  }
}
