@import "../../App.scss";

.middle {
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh; 
  

  .messages {
    padding: 20px;
    width: 500px;
    margin: auto;
    margin-top: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 20px;
    background-color: white;
    .title__messages {
        @include text-big-title;
        line-height: 50px;
        font-size: 40px;
      
    }
    .text__messages {
      text-align: center;
        @include text-body;
        margin:30px;
      
    }
    .button__messages {
      max-width: 120px;
      max-height: 60px;
      @include link-body;
      background-color: $blue;
      border-radius: 0.5em;
      border: 3px solid $blue;
      color: white;
      display: inline-block;
      padding: 0.25em 0.75em;
      text-decoration: none;
    }

    .button-round:hover {
      background-color: white;
      color: $blue;
    }
  }
}
