.intro-section {
    width: 90%;
    margin: 2em auto 1em auto;
}

.intro-section__description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.intro-description__title {
    text-align: center;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 44px;
    letter-spacing: -0.015em;
    color: #18A0FB;
}

.intro-description__item {
    margin: 1em;
    display: flex;
    flex-direction: column;
    gap: .5em;
    justify-content: center;
    align-items: center;
}

.intro-item__img {
    width: 80px;
}

.intro-item__text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: -0.015em;
}

.intro-section__bg {
    display: none;
}

@media (min-width: 768px) {
    .intro-section {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 50%);
        overflow: hidden;
        align-items: center;
    }

    .intro-section__description {
        padding-left: 2em;
    }

    .intro-description__item {
        flex-direction: row;
        align-items: center;
        gap: 1em;
    }

    .intro-section__bg {
        display: inline-block;
        opacity: .5;
        height: 70%;
    }
}

@media (min-width: 1440px) {
    .intro-description__title {
        font-family: 'League Gothic', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 64px;
        line-height: 90px;
        letter-spacing: 0.02em;
    }

    .intro-item__text {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 33px;
        letter-spacing: -0.015em;
    }

    .intro-section__description {
        padding-left: 10em;
    }

    .intro-section__bg {
        display: inline-block;
        opacity: .5;
        height: 100%;
    }
}
