// Styles copied from ProfileClient.scss
@import "../../../../App.scss";

.dashboard-profile {
  .profile__list--specialty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.75em;
    @include text-body;
  }

  .profile__button--specialty {
    align-self: center;
  }

  .err-msg {
    color: red;
  }

  .input-control--specialties {
    display: flex;
    flex-direction: column;
  }
  @media (min-width: 475px) and (max-width: 1024px) {
    .input-control--specialties {
      width: 60%;
    }
  }
}
