@import '../../App.scss';

.payment-container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 3em;
  margin: 1.5em auto;
  justify-content: space-around;
  width: 80%;
}

.payment-form {
  order: 1;
  border-radius: 10px;
  border: 1px solid $dark-grey;
  display: flex;
  flex-direction: column;
  gap: .75em;
  min-width: 320px;
  padding: 1em;
}

.payment-form__title {
  @include text-sub-title;
  color: $blue;
  text-align: center;
  margin-bottom: 1em;
}

.payment-form__label {
  @include text-inline-title;
}

.payment-form__input {
  @include text-body;
}

.payment-form__buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

@media (min-width: 375px) {
  .payment-container {
    align-items: center;
  }
}

@media (min-width: 540px) {
  .payment-container {
    margin: 0 auto;
    min-height: calc(100vh - 120px);
    padding: 3em;
  }
}

@media (min-width: 1020px) {
  .payment-form {
    order: 0;
  }
}


